@tailwind base;
@tailwind components;
@tailwind utilities;
.imag{
    
    background-image: url('./assets/spy.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }